.img-placeholder {
    background-image: url(../res/img/placeholder.png);
}

.video-placeholder {
    background-image: url(../res/vid/placeholder.mp4);
}

.img-pipi-shia-01 {
    background-image: url(../res/img/pipi-shia-dataset.gif);
}

.img-pipi-shia-02 {
    background-image: url(../res/img/pipi-shia-02.gif);
}

.img-01_Elon_Musk_DF {
    background-image: url(../res/img/01_Elon_Musk_DF.gif);
}

.img-01_Elon_Musk_or {
    background-image: url(../res/img/01_Elon_Musk_or.gif);
}

.img-pipi-fb {
    background-image: url(../res/img/pipi-fb.jpg);
}

.img-05_Sherlock {
    background-image: url(../res/img/05_Sherlock.gif);
}

.img-07_Indiana {
    background-image: url(../res/img/07_Indiana.gif);
}

.img-09_Constance {
    background-image: url(../res/img/09_Constance.gif);
}

.img-09_Yueling {
    background-image: url(../res/img/09_Yueling.gif);
}
