.img-placeholderelon1 {
  background-image: url(../assets/Elon_original.gif);
}

.img-placeholderelon2 {
background-image: url(../assets/Elon_deepfake.gif);
}

.video-placeholder {
    background-image: url(../res/vid/placeholder.mp4);
}
